

/* Put your custom styles here */

hr
{
    size: 10px;
    width: auto;
    margin: 0 auto;
}

.box
{
    background-color: #e93737;
    width: auto;
    height: 125px;
    min-height: auto;
    max-height: auto;
    min-width: auto;
    max-width: auto;
    margin: auto 0 auto 0px;
    padding: 0 auto;
}

.outer-box
{
    min-height: 200px;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
}

.hydrogen
{
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

.bg-black, .copyright-bar {
    background-color: #666 !important;
}

.inner-box {
    
}

