{#
 # Contact template
 #}

{% extends 'layouts/_layout-pine' %}
{% set title = "Contact" %}

{% block body %}
{% include '_includes/nav.html' %}

	<section class="content-block contact-1">
	    <div class="container text-center">
	        <div class="col-sm-10 col-sm-offset-1">
	            <div class="underlined-title">
	                <h1 class="header-black text-center">Contact</h1>
	                </br><hr>
	            </div>
	            <div class="row">
	                <div class="contact-module-1 col-lg-6">
	                    <p>Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia.
	                    </p>
	                </div>
	                <div class="contact-module-2 col-lg-6">
	                    <ul class="contact-info">
	                        <li class="contact-item">
	                            <span class="fa fa-map-marker"></span>
	                            <wp-span>123 Main St, Langley, VA</wp-span>
	                        </li></br>
	                        <li class="contact-item">
	                            <span class="fa fa-phone"></span>
	                            <wp-span>+44 (0) 1234 5678</wp-span>
	                        </li></br>
	                        <li class="contact-item">
	                            <span class="fa fa-envelope"></span>
	                            <a href="mailto:buyme@example.com">buyme@example.com</a> 
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <div id="contact" class="form-container">
	                <div id="message"></div>
	                <form method="post" action="js/contact-form.php" name="contactform" id="contactform">
	                    <div class="row">
	                        <div class="col-sm-4">
	                            <div class="form-group">
	                                <input name="name" id="name" type="text" value="" placeholder="Name" class="form-control" />
	                            </div>
	                        </div>
	                        <div class="col-sm-4">
	                            <div class="form-group">
	                                <input name="email" id="email" type="text" value="" placeholder="Email" class="form-control" />
	                            </div>
	                        </div>
	                        <div class="col-sm-4">
	                            <div class="form-group">
	                                <input name="phone" id="phone" type="text" value="" placeholder="Phone" class="form-control" />
	                            </div>
	                        </div>
	                    </div>
	                    <!-- /.row -->
	                    <div class="form-group">
	                        <textarea name="comments" id="comments" class="form-control" rows="3" placeholder="Message" id="textArea"></textarea>
	                        <p class="small text-muted"><span class="guardsman">* All fields are required.</span> Once we receive your message we will respond as soon as possible.</p>
	                    </div>
	                    <div class="form-group">
	                        <button class="btn btn-primary" type="submit" id="cf-submit" name="submit">Send</button>
	                    </div>
	                </form>
	            </div>
	            <!-- /.form-container -->
	        </div>
	        <!-- /.col-sm-10 -->
	    </div>
	    <!-- /.container -->
	</section>

{% include '_includes/footer.html' %}
{% endblock %}
