{% extends "layouts/_layout-plugin" %}

{% block body %}

	<div class="row">
		<div class="twelve columns">

			{# Increment entry count #}

			{% set entry =  craft.entries.first %}
			{% do craft.entryCount.increment(entry.id) %}
			<em>Incremented: {{ entry.title }}</em>

			<hr/>

			{# Output top viewed entries #}

			<h3>Top Viewed Entries :</h3>
			<ul>
				{% for entry in craft.entryCount.entries %}
					<li>
						{{ entry.title }}
						({{ craft.entryCount.count(entry.id) }} views)
					</li>
				{% endfor %}	
			</ul>
				
		</div>
	</div>

{% endblock %}
